<section class="section-panel section-search-bar">
	<div class="container">
		<div class="section-search-bar-frame">
			<div class="section-search-bar-row">
				<div class="section-search-bar-column section-search-bar-column-diveresort">
					<div class="section-search-bar-column-icon">
						<span class="icon-beach"></span>
					</div>
					<div class="section-search-bar-column-inner">				
						<label class="section-search-bar-label">I'm looking for</label>
						<select class="section-search-bar-select">
							<option>Dive Resort</option>
							<option>Snorkeling Island</option>
						</select>
					</div>
				</div>
				<div class="section-search-bar-column section-search-bar-column-diveregion">
					<div class="section-search-bar-column-icon">
						<span class="icon-location"></span>
					</div>
					<div class="section-search-bar-column-inner">
						<label class="section-search-bar-label">Dive region</label>
						<select class="section-search-bar-select">
							<option>Any Region</option>
							<option>Bali Region</option>
							<option>Lombok Region</option>
						</select>
					</div>
				</div>
				<div class="section-search-bar-column section-search-bar-column-startdate">
					<div class="section-search-bar-column-inner">
						<label class="section-search-bar-label">Start Date</label>
						<select class="section-search-bar-select">
							<option>Date Picker</option>
						</select>					
					</div>
				</div>
				<div class="section-search-bar-column section-search-bar-column-enddate">
					<span class="section-search-bar-count">7 Nights</span>
					<div class="section-search-bar-column-inner">
						<label class="section-search-bar-label text-right">End Date</label>
						<select class="section-search-bar-select" dir="rtl">
							<option>Date Picker</option>
						</select>
					</div>
				</div>			
				<div class="section-search-bar-column section-search-bar-column-keyword">
					<div class="section-search-bar-column-icon">
						<span class="icon-search"></span>
					</div>
					<div class="section-search-bar-column-inner">
						<label class="section-search-bar-label">Keyword (Optional)</label>
						<input type="text" class="section-search-bar-input" placeholder="Resort Name, Dive Region, etc." name="">
					</div>
				</div>
				<button class="section-search-bar-button">Search</button>
			</div>
		</div>
	</div>
</section>